body {
  width: 100%;
  height: 100%;

  border: 0;
  margin: 0;
  padding: 0;
}

div {
  border: 0;
  margin: 0;
  padding: 0;

  flex-shrink: 0;
  flex-grow: 0;
}

div.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  overflow-y: scroll;

  background: linear-gradient(#ffbb22, #885511);
}

div.content div {
  height: 160px;
  width: 800px;

  color: lightgray;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 60;
  text-indent: 30px;
  text-decoration: none;
  line-height: 160px;
}

div.content div a {
  display: block;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: 250px, 50%;
  background-repeat: no-repeat;

  color: lightgray;
  text-decoration: none;

}

div.content div.header{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/joekdotnet.png");
}

div.content div.intro{
  font-size: 32;
  line-height: 2;
  height: 200px;
}

div.content div.blog-1 a{
  background-image: url("../img/music.png");
}

div.content div.blog-2 a{
  background-image: url("../img/food.png");
}

div.content div.blog-3 a{
  background-image: url("../img/uni.png");
}

div.content div.blog-4 a{
  background-image: url("../img/wedding.png");
}

div.content div.twitter a{
  background-image: url("../img/tech.png");
}
